
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-align:center; }
body {
    background:pink;
    background-size: cover;
    font-family: monospace;  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    /* padding-left: 20rem;
    padding-right:20rem ;  */
    color: white;
}
/* Title */

.wraper {
    width: auto;
    width: 900px;
}

#quiz{
    /* text-transform: uppercase; */
    margin-bottom: 1em; 
    font-size: 4rem; 
    font-weight: bold;}

/* QUESTION / RESPONSES */

#container {
     margin-bottom: 3em; ;
    display: flex;
    justify-content: space-around;
}

/* QUESTION */
#question-index {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.8em;
    font-weight: bold;
  
}

#question, #responses, #results > li{
    backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
    background-color: rgba(133, 37, 37, 0.08);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#question, #responses{
    padding: 3rem;
}
#question {
    width: 50%;
    margin-right: 2em;
    
}
/* RESPONSES */

#responses {
    width: 50%;     
}
#choices{
    display: flex;
    flex-direction: column;
}
#choices > button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
  }
#choices > button {
    /* removing default style of buttons */
    /* width:100%;
    text-align: center; */
    background: none;
	color: inherit;
	border: 1px white solid;
    border-radius: 2em;
    padding: 1em; 
    margin: 0.5em;  
}

 #choices > button:hover {
    background-color: white;
    border: 3px white solid;
    color: black;
    text-align: center;
  } 
/* RIGHT ANSWER */
 /*  #responses-list > li:hover {
    background-color: rgb(20, 199, 35);
  } */
/* WRONG ANSWER */
 /*    #responses-list > li:hover {
    background-color: rgb(236, 42, 8);
  }  */

  /* remove the list of bullets  */
ul {
    list-style-type: none;
  }

#results {
    display: flex;
    flex-direction: row;
    justify-content: space space-around;
    color: black;
}
/* progression page  */
#progress-question{
    font-size: 2em;
    margin-bottom: 3em;
}
#results > li{
    margin-right:2em ;
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    border: 1px solid none;
    color: white;
}

/* THEMES */

