
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-align:center;
    font-family: monospace;
     
   
 }
 html{
    --background:pink;
    --color-font:rgb(99, 96, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    --hover : black;
    --hover-border:white;
 }
 body{
    background:var(--background-color);
    
    
} 

#chrono{
    right: 0;
    
}
#chrono-text{
    font-size: 3em; 
}
/* Title */

.wraper {
    
    width: auto;
    width: 900px;
    color: var(--color-font) ;
}

#quiz{
    /* text-transform: uppercase; */
    margin-bottom: 1em; 
    font-size: 4rem; 
    font-weight: bold;
}

/* QUESTION / RESPONSES */

#container {
     margin-bottom: 3em; ;
    display: flex;
    justify-content: space-around;
}

/* QUESTION */
#question-index {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.8em;
    font-weight: bold;
}

#question, #responses, #results > li{
    backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
    background-color: rgba(133, 37, 37, 0.08);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#question, #responses{
    padding: 3rem;

}
#question {
    width: 50%;
    margin-right: 2em;
    
}
/* RESPONSES */

#responses {
    width: 50%;     
}
#choices{
    display: flex;
    flex-direction: column;
}
#choices > button:focus {
    text-decoration: none;
    outline:none;
    border: 1px var(--color-font) solid;
    box-shadow: none;
  }
#choices > button {
    /* removing default style of buttons */
    /* width:100%;
    text-align: center; */
    background: none;
	color: inherit;
	border: 1px var(--color-font) solid;
    border-radius: 2em;
    padding: 1em; 
    margin: 0.5em;  
}

 #choices > button:hover {
    background-color: var(--hover-border);
    border: 1px var(--hover-border) solid;
    color: var(--hover);
    text-align: center;
  } 

  /* remove the list of bullets  */
ul {
    list-style-type: none;
  }

#results {
    display: flex;
    flex-direction: row;
    justify-content: space space-around;
}
/* progression page  */
#progress-question{
    font-size: 2em;
    margin-bottom: 3em;
}
#results > li{
    margin-right:var(--margin-right) ;
    padding: var(--padding);
    width: var(--width);
    border-radius: var(--border-radius);
    border: var(--border);
}
#select-menu {
    color: var(--color-font);
   border:  none;
   background: none;
   font-weight: bold;
   font-size: 1.5em;
}

select:focus{
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
}
 #menu-themes{
    --margin-right:2em ;
    --padding: 1em;
    --width: 100%;
    --border-radius: 1em;
    --border: 1px solid none; 
}
#results-wrong,#results-score{
    --margin-right:2em ;
    --padding: 1em;
    --width: 100%;
    --border-radius: 1em;
    --border: 1px solid none; 
}
/* #hide-results-wrong,#hide-results-score{
    --margin-right:none ;
    --padding: none;
    --width: none;
    --border-radius: none;
    --border:  none; 
} */
/* THEMES */

.dark {
    --background-color:black;
    --color-font:white;
    --hover : black;
    --hover-border:white;
}

.pink {
   --background-color:pink;
   --color-font:white;
    --hover :pink;
    --hover-border:white;
}  

.purple {
    --background-color:rgb(58, 5, 83);
    --color-font:white;
     --hover :rgb(58, 5, 83);
     --hover-border:white;
 } 